/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.jivedig-columns {
	--column-gap: 1em;
	--row-gap: 1em;
	display: flex;
	flex-wrap: wrap;
	// gap: var(--row-gap) var(--column-gap);
	// margin-inline: calc(var(--column-gap) * -1);
	padding: 40px;
	background-color: plum;
}

.jivedig-column {
	// --flex-basis: calc((100% * var(--columns) - (var(--column-gap) * (1 - var(--columns)))) - 0.025px);
	flex: var(--flex);
	// margin-inline: var(--column-gap);
	padding: 20px;
	background-color: white;
	border: 1px dashed blue;
}

/* SM */
@media only screen and (max-width: 599px) {

	.jivedig-column {
		--columns: var(--columns-xs, 1);
		--flex: var(--flex-xs, 1);
		// flex-grow: var(--flex-grow-xs, 1);
		// flex-shrink: var(--flex-shrink-xs, 1);
		// flex-basis: var(--flex-basis-xs, 0%);
	}
}

/* MD */
@media only screen and (min-width: 600px) and (max-width: 799px) {

	.jivedig-column {
		--columns: var(--columns-sm, 1);
		--flex: var(--flex-sm, 1);
		// flex-grow: var(--flex-grow-sm, 1);
		// flex-shrink: var(--flex-shrink-sm, 1);
		// flex-basis: var(--flex-basis-sm, 0%);
	}
}

/* LG */
@media only screen and (min-width: 800px) and (max-width: 999px) {

	.jivedig-column {
		--columns: var(--columns-md, 1);
		--flex: var(--flex-md, 1);
		// flex-grow: var(--flex-grow-md, 1);
		// flex-shrink: var(--flex-shrink-md, 1);
		// flex-basis: var(--flex-basis-md, 0%);
	}
}

/* XL */
@media only screen and (min-width: 1000px) {

	.jivedig-column {
		--columns: var(--columns-lg, 1);
		--flex: var(--flex-lg, 1);
		// flex-grow: var(--flex-grow-lg, 1);
		// flex-shrink: var(--flex-shrink-lg, 1);
		// flex-basis: var(--flex-basis-lg, 0%);
	}
}